body {
    background-color: #ffffff;
    margin: 0px;
}
.seat {
    background-color: gray;
    float: left;
}
.seat img {
    width: 240px;
    height: 118px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 35%;
    padding-right: 50%; 
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ff5e00;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #db5101;
}

.active {
    background-color: #c74900;
}