body {
    background-color: #ffffff;
    margin: 0px;
}

.MainContainer {
    background-color: #d4d4d4;
    padding: 5px;
    max-width: 89%;
    margin-left: 5%;
}

.MainContainer img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ff5e00;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #db5101;
}

.active {
    background-color: #c74900;
}